
.background-nav {
    background-color: nth($colores,2);

    @media screen and (max-width:450px){
        background-color:nth($colores, 4);
        opacity: 0.7;
        width: 449px;
        
    }
   
    

    }