.div-start {
    background-color: nth($colores, 3);
    margin: auto;
    color: nth($colores, 5);
    font-size: nth($fontsize, 3);
    font-family: 'Bitter', serif;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .img-one {
        width: 85px;
        height: auto;
    }
}

.div-title {
    color: nth($colores, 6);
    font-style: italic;
    font-weight: bold;
    font-size: nth($fontsize, 5);
    font-family: 'Bitter', serif;
    text-align: center;
    margin: 45px;
}

.parent {
    width: 100%;
    margin: 55px 10px 55px 10px;
    color: nth($colores, 5);
    font-size: nth($fontsize, 3);
    font-family: 'Bitter', serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    .div-1 {
        width: 300px;
        grid-area: 1 / 1 / 2 / 2;

        .gallery-img {
            width: 70%;
            margin-left: 175px;
            margin-bottom: 65px;
            box-shadow: 10px 10px 19px 2px rgba(136, 121, 176, 0.75);
            -webkit-box-shadow: 10px 10px 19px 2px rgba(136, 121, 176, 0.75);
            -moz-box-shadow: 10px 10px 19px 2px rgba(136, 121, 176, 0.75);

        }
    }

    .div-2 {
        grid-area: 1 / 2 / 2 / 3;

        .pharagraf-two {
            margin-top: 85px;
            margin-right: 150px;
            margin-bottom: 150px;

        }
    }

    .div-3 {
        margin-left: 95px;
        grid-area: 2 / 1 / 3 / 2;

        .pharagraf-three {
            margin-top: 45px;
            margin-left: 85 px;


        }
    }

    .div-4 {
        width: 300px;
        margin-right: 150px;
        grid-area: 2 / 2 / 3 / 3;

        .gallery-img {
            width: 70%;
            margin-left: 175px;
            margin-bottom: 65px;
            box-shadow: 10px 10px 19px 2px rgba(136, 121, 176, 0.75);
            -webkit-box-shadow: 10px 10px 19px 2px rgba(136, 121, 176, 0.75);
            -moz-box-shadow: 10px 10px 19px 2px rgba(136, 121, 176, 0.75);

        }
    }
}

.carousel-section {
    .carousel-dimension {
        width: 20%;
        height: 20%;
        margin: 0 auto;
    }
}

.div-fn {
    background-color: nth($colores, 1);
    opacity: 0.4;
    margin: auto;
    color: nth($colores, 5);
    font-size: nth($fontsize, 3);
    font-family: 'Bitter', serif;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .img-one {
        width: 85px;
        height: auto;
    }

    .title-fn {
        &:hover {
            transform: scale(2);
            color: nth($colores, 6);
        }

        transition-property: all;
        transition-duration: 3s;
    }
}