.div-start {
    background-color: nth($colores, 3);
    margin: auto;
    color: nth($colores, 5);
    font-size: nth($fontsize, 3);
    font-family: 'Bitter', serif;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .img-one {
        width: 85px;
        height: auto;
    }
}

.div-title {
    color: nth($colores, 6);
    font-style: italic;
    font-weight: bold;
    font-size: nth($fontsize, 5);
    font-family: 'Bitter', serif;
    text-align: center;
    margin: 45px;
}

.div-section {
    width: 80%;
    margin: 80px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "div-tp div-fl div-fl"
        "div-bm div-bm div-df"
        "div-ac div-em div-em ";

    .div-tp {
        width: 380px;
        grid-area: div-tp;

        .photo {
            width: 100%;
            height: auto;
            object-fit: cover;
            box-shadow: 10px 10px 19px 2px rgba(136, 121, 176, 0.75);
            -webkit-box-shadow: 10px 10px 19px 2px rgba(136, 121, 176, 0.75);
            -moz-box-shadow: 10px 10px 19px 2px rgba(136, 121, 176, 0.75);

        }
    }
}

.div-fl {
    color: nth($colores, 5);
    font-size: nth($fontsize, 3);
    font-family: 'Bitter', serif;
    grid-area: div-fl;
}

.div-df {
    width: 320px;
    grid-area: div-df;

    .photo {
        width: 100%;
        height: auto;
        object-fit: cover;
        box-shadow: 10px 10px 19px 2px rgba(136, 121, 176, 0.75);
        -webkit-box-shadow: 10px 10px 19px 2px rgba(136, 121, 176, 0.75);
        -moz-box-shadow: 10px 10px 19px 2px rgba(136, 121, 176, 0.75);
    }
}

.div-bm {
    color: nth($colores, 5);
    font-size: nth($fontsize, 3);
    font-family: 'Bitter', serif;
    grid-area: div-bm;
}

.div-ac {
    width: 210px;
    grid-area: div-ac;

    .photo {
        width: 100%;
        height: auto;
        object-fit: cover;
        box-shadow: 10px 10px 19px 2px rgba(136, 121, 176, 0.75);
        -webkit-box-shadow: 10px 10px 19px 2px rgba(136, 121, 176, 0.75);
        -moz-box-shadow: 10px 10px 19px 2px rgba(136, 121, 176, 0.75);
    }
}

.div-em {
    color: nth($colores, 5);
    font-size: nth($fontsize, 3);
    font-family: 'Bitter', serif;
    grid-area: div-em;
}

.carousel-section {
    .carousel-dimension {
        width: 20%;
        height: 20%;
        margin: 0 auto;
    }
}

.div-fn {
    background-color: nth($colores, 1);
    opacity: 0.4;
    margin: auto;
    color: nth($colores, 5);
    font-size: nth($fontsize, 3);
    font-family: 'Bitter', serif;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .img-one {
        width: 85px;
        height: auto;
    }

    .title-fn {
        &:hover {
            transform: scale(2);
            color: nth($colores, 6);
        }

        transition-property: all;
        transition-duration: 3s;
    }
}